
<div class="main_head">
  <div class="chat_name">
    <%= current_user.rooms.name %>
  </div>
  <div class="chat_end">
    <a half="">チャットを終了する</a>
  </div>
</div>
<div class="main_front">
  <%= render partial: 'message', collection: @messages %>
</div>
<%= form_with model: [@room, @message], class: 'main_form', local: true do |f| %>
  <div class="message_box">
    <%= f.text_field :content, class: 'message_form', placeholder: 'type a message' %>
    <label class="form-image">
      <span class="image-file">画像</span>
      <%= f.file_field :image, class: 'hidden' %>
    </label>
  </div>
  <%= f.submit '送信', class: 'message_btn' %>
<% end %>